#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  font-size: 62.5%;
}

.square {
  position:static; 
  width: 5vw;
  min-height: 15vh;
  height: auto;
  border: black solid 1px;
}